div#current {
    background-color: #dddddd;
}

.text {
    color: #394d8d;
    float: left;
    font-family: Verdana, sans-serif;
    white-space: pre;
}

.keyword {
    color: #273563;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#history {
    background-color: #b0b0b0;
}

#history > div > .text {
    color: #6e8ae5;
}

#history > div > .keyword {
    color: #6376b7;
    cursor: default;
}
